{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-wrapper">
    <div class="login-section">
      <div class="login-card">
        <header class="login-header">
          <h1 class="login-title">로그인</h1>
        </header>

        <form id="loginForm" method="post" action="{% url 'login' %}" novalidate class="login-form">
          {% csrf_token %}

          <div class="form-group">
            <input
              id="email"
              name="email"
              type="email"
              required
              placeholder="이메일을 입력하세요"
              class="form-input"
              aria-describedby="emailHelp"
              autocomplete="email"
            />
            <p id="emailHelp" class="form-error hidden">올바른 이메일을 입력해주세요.</p>
          </div>

          <div class="form-group">
            <div class="password-input-wrapper">
              <input
                id="password"
                name="password"
                type="password"
                required
                minlength="6"
                placeholder="비밀번호를 입력하세요"
                class="form-input"
                autocomplete="current-password"
              />
              <button type="button" id="togglePwd" aria-label="비밀번호 표시" class="password-toggle">
                보기
              </button>
            </div>
            <p id="pwdHelp" class="form-error hidden">비밀번호는 최소 6자 이상이어야 합니다.</p>
          </div>

          {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors.0 }}</div>
          {% endif %}


          <button type="submit" class="login-btn">
            로그인
          </button>
          <div class="login-links">
            <a href="#" class="login-link">아이디찾기</a>
            <div class="login-link-separator"></div>
            <a href="#" class="login-link">비밀번호찾기</a>
          </div>
          <a href="{% url 'signup' %}" class="signup-btn">회원가입</a>
        </form>
      </div>
    </div>

    <div class="social-section">
      <div class="social-card">
        <header class="social-header">
          <h2 class="social-title">간편하게 로그인하기</h2>
          <p class="social-subtitle">간편한 회원가입으로 쉽게 본 사이트를 이용할 수 있습니다.<br>소셜로그인으로 쉽게 시작하기</p>
        </header>

         <div class="social-icons">
           <div class="google-login">
             <div id="g_id_onload"
                  data-client_id="{{ google_client_id }}"
                  data-callback="handleCredentialResponse"
                  data-use_fedcm_for_prompt="false"
                  data-shape="circle"
                  data-type="icon"
                  data-auto_prompt="false"></div>
             <div class="g_id_signin" 
                  data-shape="circle"
                  data-type="icon"
                  data-size="large"></div>
           </div>
           
          <button type="button" class="social-icon-btn kakao-icon-btn" onclick="kakaoLogin()">
            <img src="{% static 'images/social/kakao-talk-icon.svg' %}" alt="카카오톡 로그인" class="kakao-icon-img">
          </button>
           
           <button type="button" class="social-icon-btn naver-icon-btn" onclick="naverLogin()">
             <span class="naver-icon">N</span>
           </button>
           
           <button type="button" class="social-icon-btn facebook-icon-btn">
             <span class="facebook-icon">f</span>
           </button>
         </div>


        <div class="benefits-section">
          <h3 class="benefits-title">MEMBERSHIP BENEFIT</h3>
          <div class="benefits-list">
            <div class="benefit-item">
              <span class="benefit-icon">※</span>
              <span class="benefit-text">총 20,000원의 쿠폰팩 증정</span>
            </div>
            <div class="benefit-item">
              <span class="benefit-icon">※</span>
              <span class="benefit-text">5만원 이상 구매시 무료배송</span>
            </div>
            <div class="benefit-item">
              <span class="benefit-icon">※</span>
              <span class="benefit-text">앱 다운시 5% 쿠폰</span>
            </div>
            <div class="benefit-item">
              <span class="benefit-icon">※</span>
              <span class="benefit-text">출석체크 이벤트</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://accounts.google.com/gsi/client" async></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
  window.kakaoRestApiKey = '{{ kakao_rest_api_key }}';
  window.naverLoginUrl = "{% url 'naver-login' %}";
</script>
<script src="{% static 'js/google-login.js' %}" defer></script>
<script src="{% static 'js/users/kakao-login.js' %}" defer></script>
<script src="{% static 'js/users/naver-login.js' %}" defer></script>
<script src="{% static 'js/users/login.js' %}" defer></script>
{% endblock %}
